/* frontend/src/App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eef1f5;
  /* A soft, elegant off-white background */
  color: #343a40;
  /* A dark, soft gray for primary text */
  margin: 0;
}

.content-wrapper {
  min-height: 100vh;
  padding-top: 8rem;
}